//transition
$transition_default: .2s;

//padding
$indent_default: 30px;
$nav_height:  100px;

//colors
$link_default_color: #000;
$link_default_color_hover: orangered;

$nav_bg: #1A5783;
$nav_bg_mobile: #730D56;
$nav_zindex: 55;
$nav_color_active: #fff;
$nav_color: #fff;
$nav_desktop_indent: 150px;
